<!-- Pemanggilan bagian sidebar -->
<%- include("sidebar") %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mt-4">
    <div class="col-6"><h3 class="mb-4">Blog</h3></div>
    <div class="col-6">
      <h3 class="mb-4">
        Tambah Berita Baru
        <a href="/tambah-berita"
          ><button class="rounded-circle"><i class="fa-solid fa-plus"></i></button>
        </a>
      </h3>
    </div>
  </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Judul</th>
              <th>Highlight</th>
              <th>Kontrol</th>
            </tr>
          </thead>

          <tbody>
            <% blogs.forEach(blog => { %>
            <tr>
              <td><%= blog.title %></td>
              <td class="text-center"><input type="checkbox" name="status" id="status_<%= blog.documentID %>" onchange="updateFirestoreStatus('<%= blog.documentID %>')" <% if (blog.status === "on") { %>checked<% } %>></td>

              <td>
                <a class="edit-berita btn btn-info d-fluid" data-documentid="<%= blog.documentID %>" data-title="<%= blog.title %>" data-content="<%= blog.content %>" data-imageUrl="<%= blog.imageUrl %>" data-status="<%= blog.status %>">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                    />
                  </svg>
                </a>
                <a class="delete-berita btn btn-warning d-fluid" data-documentid="<%= blog.documentID %>" data-title="<%= blog.title %>">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function updateFirestoreStatus(documentID) {
    const checkbox = document.getElementById("status_" + documentID);
    const status = checkbox.checked ? "on" : "off";

    fetch(`/updatestatus/${documentID}?status=${status}`, {
      method: "POST",
    })
      .then((response) => {
        if (response.ok) {
          console.log("Status updated successfully");
          location.reload();
        } else {
          console.error("Error updating status");
          checkbox.checked = !checkbox.checked;
        }
      })
      .catch((error) => {
        console.error("Error updating status:", error);
        checkbox.checked = !checkbox.checked;
      });
  }

  document.querySelectorAll(".edit-berita").forEach(function (element) {
    element.addEventListener("click", function () {
      const documentID = this.getAttribute("data-documentid");
      const title = this.getAttribute("data-title");
      const content = this.getAttribute("data-content");
      const imageUrl = this.getAttribute("data-imageUrl");
      const status = this.getAttribute("data-status");
      const selectedBlog = { title, content, imageUrl, documentID, status };
      const queryParams = new URLSearchParams(selectedBlog).toString();
      const url = "/edit-berita?" + queryParams;

      window.location.href = url;
    });
  });

  document.querySelectorAll(".delete-berita").forEach(function (element) {
    element.addEventListener("click", function () {
      const documentID = this.getAttribute("data-documentid");
      const title = this.getAttribute("data-title");
      if (confirm("Are you sure you want to delete '" + title + "' post?")) {
        fetch(`/deletepost/${documentID}`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              location.reload();
            } else {
              console.error("Error deleting the post");
            }
          })
          .catch((error) => {
            console.error("Error deleting the post:", error);
          });
      }
    });
  });
</script>
