<!-- Pemanggilan bagian sidebar -->
<%- include("sidebar") %>

<div class="container-fluid my-5 px-5">
  <div class="row text-center">
    <div class="col"><h3 class="mb-4">Newsletter</h3></div>
    <div class="col">
      <h3 class="mb-4">Umumkan Berita Baru</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="text-center p-5">
        <form method="POST" action="/sendNewsletter">
          <div class="row g-3 mb-3">
            <div class="col-lg-12 col-sm-6 mb-4">
              <input required type="text" class="form-control border-2" placeholder="Subject" style="height: 55px" name="subject" id="subject" />
            </div>
            <div class="col-12 col-sm-6 mb-4">
              <select class="form-control border-2" aria-label="Default select example" id="linkType" name="linkType">
                <option selected disabled>Cantumkan link</option>
                <option value="paket">Paket</option>
                <option value="blog">Blog</option>
              </select>
            </div>
            <div class="col-12 col-sm-6">
              <select class="form-control border-2" aria-label="Default select example" id="link" name="link">
                <option selected disabled>Pilih link</option>
              </select>
            </div>
            <div class="col-lg-12 col-sm-6 mb-4">
              <textarea class="form-control" id="id" name="body" placeholder="Body" required></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary w-50 py-3" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const linkTypeDropdown = document.getElementById('linkType');
    const linkDropdown = document.getElementById('link');

    linkTypeDropdown.addEventListener('change', function () {
      const selectedType = this.value;
      linkDropdown.innerHTML = '<option selected disabled>Pilih link</option>';

      <% paket.forEach(pack => { %>
        if (selectedType === 'paket') {
          linkDropdown.innerHTML += '<option value="<%= pack.nama %>"><%= pack.nama %></option>';
        }
      <% }); %>

      <% blogs.forEach(blog => { %>
        if (selectedType === 'blog') {
          linkDropdown.innerHTML += '<option value="<%= blog.title %>"><%= blog.title %></option>';
        }
      <% }); %>
    });
  });
</script>