<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Halaman Blog Detail -->
<section id="blog-detail">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="<%= blog.imageUrl %>"
          alt="<%= blog.title %>"
          class="img-fluid rounded-4 mx-auto d-block pt-3 img-blog-details"
        />
      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <h4 class="text-center"><%= blog.title %></h4>
        <pre><%= blog.content %></pre>
      </div>
    </div>
  </div>
  <a
    href="#"
    class="btn btn-lg btn-primary btn-lg-square rounded-4 back-to-top"
    id="btn-back-to-top"
    ><i class="bi bi-arrow-up"></i
  ></a>
  <div style="padding-bottom: 4rem"></div>
</section>

<!-- Halaman Blog Detail -->

<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>
