<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Start dbtest2 -->
<div class="container">
    <h2>Edit Post</h2>
    <form action="/updatepost" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ID">Blog#ID:</label>
            <input type="text" name="ID" id="ID" class="form-control" required value="<%= query.documentID %>" readonly>
        </div>        
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" class="form-control" required value="<%= query.title %>">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea name="content" id="content" class="form-control" rows="4" required><%= query.content %></textarea>
        </div>
        <div class="form-group" id="currentImageGroup" style="display: block;">
            <label for="image" style="display: inline-block;">Current Image:</label>
            <button type="button" id="changeImageButton" onclick="toggleImageInput()" style="display: inline-block;">Change Image</button>
            <img src="<%= query.imageUrl %>" alt="Current Image" id="currentImage" class="img-fluid rounded-4 mx-auto d-block pt-3">
        </div>
        <div class="form-group" id="newImageGroup" style="display: none;">
            <label for="newImage">New Image:</label>
            <input type="file" name="newImage" id="newImage" accept="image/jpeg, image/jpg, image/png">
            <button type="button" id="cancelButton" onclick="toggleImageInput()">Cancel</button>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<!-- End dbtest2 -->

<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>

<script>
    function toggleImageInput() {
      const currentImageGroup = document.getElementById("currentImageGroup");
      const newImageGroup = document.getElementById("newImageGroup");
    
      if (currentImageGroup.style.display === "block") {
        currentImageGroup.style.display = "none";
        newImageGroup.style.display = "block";
      } else {
        currentImageGroup.style.display = "block";
        newImageGroup.style.display = "none";
      }
    }
</script>