<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Start home  -->
<section id="slider" class="pt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8">
        <h2>Lebih Baik Sekali Melihat Dari Pada Seribu Kali Mendengar</h2>
      </div>
      <div class="col-md-4">
        <a href="/pricing"
          ><button class="bn632-hover bn26">Jelajahi Lagi</button></a
        >
      </div>
    </div>

    <div class="slider">
      <div class="owl-carousel">
        <% highlightBlogs.forEach(blog => { %>
        <div class="slider-card">
          <a
            href="/blog-detail-<%= blog.title %>"
            class="text-reset text-decoration-none"
          >
            <div class="d-flex justify-content-center align-items-center mb-4">
              <img
                src="<%= blog.imageUrl %>"
                alt=""
                class="img-home-highlight"
              />
            </div>
            <div
              class="position-absolute bottom-0 start-0 text-center w-100 whiteshade"
            >
              <h5><b><%= blog.title.substring(0,30) %>...</b></h5>
              <p><%= blog.content.substring(0, 50) %>...</p>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</section>

<!-- End home -->
<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>
